.galtu_dasri {
  /*padding-top: rem(150);*/
  text-align: center;
}

.cfari {
  margin: auto;
  max-width: rem(600);
}

.heading {
  font-size: rem(45);
  line-height: 2;
  cursor: default;
}


/*.heading:hover {
  font-weight: bold;
}*/

body {
  font-family: sans-serif;
  background-color: white;
}

h3 {
  padding-top: 0;
  margin-top: 0em;
}

h2 {
  clear: both;
}

.margin {
  padding-left: 1em;
}

.forum {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.5em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  float: left;
  margin-bottom: 1em;
  margin-right: 1em;
  width: 10em;
  height: 9em;
  border: 0.3em solid gray;
  background: white;
  text-decoration: none;
  color: inherit;
}

.forum h3 {
  color: inherit;
}

.forum br, .tapla br {
  margin-bottom: 1em;
}

.forum a p {
  color: black;
}

.desc {}

hr {
  background: #efefef;
  border: 0px solid #efefef;
  color: #efefef;
}

.left {
  display: block;
  float: left;
  width: 50%;
}

.right {
  display: block;
  float: right;
  width: 50%;
}

.inner_list {
  text-align: left;
  list-style-type: none;
  padding-left: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: underline;
}

.jbo {
  border-color: #efefef;
  background: #f5f5f5;
  color: #DD6600;
}

.en {
  border: 0.3em solid #eaeedb;
  background: #f0f4e1;
  color: #abb489;
}

.ideas {
  border: 0.3em solid #e1eaf5;
  background: #edf2f8;
  color: #435e83;
}

.xamsel {
  border: 0.3em solid #d3ffc5;
  /*background: #dffdd4;*/
  background: #e2fde0;
  color: black;
}

.docs {
  border-color: #EBD4D4;
  /*#d4b6b8;*/
  background: #F8E0E0;
  /*#ad9393;*/
  color: #b25d36;
}

.content-panel {
    max-width: rem(700);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.tapla {
  border: 0.3em solid #eaeedb;
  background: #f0f4e1;
  color: #abb489;
  padding: 1em 1.5em 0.5em 1.5em;
  /*float: left;*/
  margin-bottom: 1em;
  margin-right: 1em;
  width: 100%;
  height: auto;
  text-decoration: none;
}

.ralju_pixra{
  max-width: 100%;
}
